# # A good default to start with. But if you find that you have problems
# # installing npm packages from GitHub repos (which is a case in which
# # this npm error may arise):
# #   npm ERR! code E401
# #   npm ERR! Unable to authenticate, need: Basic realm="GitHub"
# # ... then you might find that removing this line may form part of the
# # solution!
# always-auth=true

# This is the registry to PULL from, so you likely want it to be npm-all to
# get access to all npm repos, rather than npm-internal (private repos only).
registry=https://inh-nexus.tele2.kz/repository/npm-group/

# base64-encoding of the username-password pair for your Nexus Repository
//inh-nexus.tele2.kz/repository/npm-group/:_auth=YWRtaW46dHJhc2luZXh1cyM3NA==
