<div class="container" *ngIf="payment()">
  <div class="paydocNum">
    № п. поручения:
  </div>
  <div class="value">
    {{ payment().docnum }}
  </div>
  <div class="title">
    Клиент:
  </div>
  <div class="value">
    {{ payment().sender }}
  </div>
  <div class="title">
    Статус:
  </div>
  <div class="value">
    {{ payment().status | paymentStatusPipe: payment().status}}
  </div>
  <div class="title"
       *ngIf="payment().status == PaymentStatus.DISTRIBUTED || payment().status == PaymentStatus.TRANSIT_DISTRIBUTED">
    Разнесён:
  </div>
  <div class="value"
       *ngIf="payment().status == PaymentStatus.DISTRIBUTED || payment().status == PaymentStatus.TRANSIT_DISTRIBUTED">
    {{ payment().distributed | date: 'short' }}
  </div>
  <div class="title"
       *ngIf="payment().status == PaymentStatus.DISTRIBUTED || payment().status == PaymentStatus.TRANSIT_DISTRIBUTED">
    Пользователь:
  </div>
  <div class="value"
       *ngIf="payment().status == PaymentStatus.DISTRIBUTED || payment().status == PaymentStatus.TRANSIT_DISTRIBUTED">
    {{ payment().user }}
  </div>
  <div class="title">
    БИН:
  </div>
  <div class="value">
    {{ payment().bin }}
  </div>
  <div class="title">
    Менеджер:
  </div>
  <div class="value">
    {{ payment().clientProfile.managedBy }}
  </div>
  <div class="title">
    Номер платежа:
  </div>
  <div class="value">
    {{ payment().paymentId }}
  </div>
  <div class="title">
    Сумма платежа:
  </div>
  <div class="value">
    {{ payment().sum | currency : ' тг.' }}
  </div>
  <div class="title">
    Назначение платежа:
  </div>
  <div class="value">
    {{ payment().details }}
  </div>
  <div class="title" *ngIf="payment().deferredPaymentInfoEntities.length > 0">
    Отложен на:
  </div>
  <div class="value" *ngIf="payment().deferredPaymentInfoEntities.length > 0">
    {{ payment().deferredPaymentInfoEntities[0].created  | date: 'shortDate' }}
  </div>
</div>
