<div class="container">
  <div class="content">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Выберите дату</mat-label>
        <input matInput [matDatepicker]="picker" [formControl]="importDate">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div *ngIf="!hasReadOnlyRole()">
      <button mat-raised-button color="primary" (click)="importClick()">
        Импорт
      </button>
    </div>
  </div>
</div>
